:root {
  --header-shadow-color: #4479a9;
  --header-color: #ffcc03;
}
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  background: url(assets/wallpaper-sunset.jpg) center/cover;
}

header {
  font-family: sans-serif;
  font-size: 1.6em;
  color: var(--header-color);
  text-shadow: 0.1em 0.1em 0.2em var(--header-shadow-color),
    -0.1em -0.1em 0.2em var(--header-shadow-color);
  text-align: center;
  /* white-space: nowrap; */
}

svg {
  --size: 95%;
  width: var(--size);
  height: auto;
  overflow: visible;
  align-self: center;
}

#pokeball-top:hover,
#pokeball-top:active {
  transition: all 0.2s;
  fill: #900;
}
#pokeball-bot:hover,
#pokeball-bot:active {
  transition: all 0.2s;
  fill: #bbb;
}

@media screen and (orientation: landscape) {
  svg {
    height: var(--size);
    width: auto;
  }
}
