html,
body,
button,
h1 {
  height: 100%;
  margin: 0;
}

h1.title {
  text-align: center;
  padding: 1em;
}

#button-wrapper {
  display: grid;
  grid-template: repeat(3, auto) / 50%;
  justify-content: center;
}

#button-wrapper > * {
  margin: auto;
}

div#counter,
button {
  font-size: 5rem;
}

#counter {
  font-family: monospace;
}
