html,
body,
button,
#button-wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
}

#button-wrapper {
  display: grid;
  grid-template: repeat(3, auto) / 50%;
  justify-content: center;
}

#button-wrapper > * {
  margin: auto;
}

div#counter,
button {
  font-size: 5rem;
}
